body {
    padding-top: 5rem;
    background-image: url("/img/bg1.jpg");
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
button {
        margin: 10px 10px 10px 10px
    }
p{
    color:white;
}